#container {
  height: 400px;
}
#showTable {
  width: 100%;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
  display: table;
  table-layout: fixed;
}
div {
  user-select: none;
}
.head {
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid rgb(224, 224, 224);
  border-right: 0.5px solid rgb(224, 224, 224);
  background-color: rgb(240, 240, 240);
  width: 100px;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.colresize {
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(240, 240, 240);
}
.colresize:hover {
  cursor: col-resize;
}
.head:hover {
  background-color: rgb(159, 213, 183);
}
.head:hover div {
  background-color: rgb(159, 213, 183);
}
.head.focus {
  background-color: rgb(225, 225, 225);
  border-bottom: 3px solid green;
  border-top: 2px solid transparent;
}
.head.focus div {
  background-color: rgb(225, 225, 225);
  border-bottom: 3px solid green;
}
.cell {
  border: 0.5px solid rgb(224, 224, 224);
  width: 100px;
  text-align: center;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
}
.cell.selected {
  border: 0.5px solid rgb(174, 174, 174);
  background-color: rgb(198, 198, 198);
}
.cell:focus-visible {
  border: 2px solid green;
  background-color: white;
}
.cell.focus {
  border: 2px solid green;
  background-color: white;
}
.cell.focus.selected {
  background-color: white;
  border: 0.5px solid rgb(174, 174, 174);
}
.cell.top,
.cell.focus.selected.top {
  border-top: 2px solid green;
}
.cell.bottom,
.cell.focus.selected.bottom {
  border-bottom: 2px solid green;
}
.cell.left,
.cell.focus.selected.left {
  border-left: 2px solid green;
}
.cell.right,
.cell.focus.selected.right {
  border-right: 2px solid green;
}
.id {
  display: inline-block;
  border-top: 0.5px solid rgb(224, 224, 224);
  border-bottom: 0.5px solid rgb(224, 224, 224);
  border-right: 0.5px solid black;
  background-color: rgb(240, 240, 240);
  width: 50px;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.id.focus {
  background-color: rgb(225, 225, 225);
  border-right: 3px solid green;
  border-left: 2px solid transparent;
}
.id.focus div {
  background-color: rgb(225, 225, 225);
  border-right: 3px solid green;
}
.id:hover {
  background-color: rgb(159, 213, 183);
}
.id:hover div {
  background-color: rgb(159, 213, 183);
}
.rowresize {
  height: 4px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  position: absolute;
  bottom: 0px;
}
.rowresize:hover {
  cursor: row-resize;
}
.row {
  height: 30px;
  display: table-row;
  vertical-align: middle;
}

ul {
  background-color: white;
  color: #b0c0c7;
  width: 100px;
  display: none;
  position: absolute;
  padding: 2px;
  /* box-shadow: 0px 0px 5px black; */
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
}
li {
  list-style: none;
  line-height: 20px;
  cursor: pointer;
  color: rgb(62, 62, 62);
}
li:hover {
  color: white;
  background-color: darkgrey;
}
